
.sm-text {font-size:12px;font-weight:normal}
.marT15{margin-top:15px;}

/*---------------- Header CSS ----------------*/
.navbar-header{
    .logo-img, .project-name{position:relative;top:-4px;}   
}



